.error{
  color:red;
  font-size: small;
}
.label{
  font-weight:400;
}
.red-required {
    color: red;
}
.vertical-radio {
  /* display: block;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row; */
}